## NUMPY

In [1]:
import numpy as np

In [2]:
dir(np)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'MachAr',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'VisibleDeprecationWarning',
 'WRAP',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__doc__',
 '__file__',
 '__git_revision__',
 '__loader__',
 '__mkl_version__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_arg',
 '_distributor_init',
 '_globals',
 '_mat',
 '_mklinit',
 '_pytesttester',
 'abs',
 'absolute',
 'absolute_import',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex',
 'complex128',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'division',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'fv',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'int_asbuffer',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'ipmt',
 'irr',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loads',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'long',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mafromtxt',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mirr',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndfromtxt',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'nper',
 'npv',
 'numarray',
 'number',
 'obj2sctype',
 'object',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'pmt',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'ppmt',
 'print_function',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'pv',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'rank',
 'rate',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypeNA',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typeDict',
 'typeNA',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [3]:
## Creating an array

In [6]:
x=np.array([[1,2,3],[2,3,4],[4,5,6]])
x

array([[1, 2, 3],
       [2, 3, 4],
       [4, 5, 6]])

In [7]:
np.shape(x)

(3, 3)

In [8]:
np.size(x)

9

In [11]:
np.ndim(x)

2

In [12]:
x.itemsize

4

In [13]:
x.dtype

dtype('int32')

In [14]:
### Reshape

In [15]:
y=np.array([[1,2,3],[3,4,5]])

In [16]:
y

array([[1, 2, 3],
       [3, 4, 5]])

In [17]:
y.reshape(3,2)

array([[1, 2],
       [3, 3],
       [4, 5]])

In [18]:
y.reshape(1,6)

array([[1, 2, 3, 3, 4, 5]])

In [19]:
y.reshape(6,1)

array([[1],
       [2],
       [3],
       [3],
       [4],
       [5]])

In [20]:
### Slicing

In [21]:
x

array([[1, 2, 3],
       [2, 3, 4],
       [4, 5, 6]])

In [22]:
x[0,1]

2

In [23]:
x[:,1:2]

array([[2],
       [3],
       [5]])

In [24]:
x[1]

array([2, 3, 4])

In [30]:
x[:,0]

array([1, 2, 4])

In [31]:
x[:,-1]

array([3, 4, 6])

In [32]:
x[:,2]

array([3, 4, 6])

In [37]:
x[:,0::2]

array([[1, 3],
       [2, 4],
       [4, 6]])

In [38]:
x[:,0:2]

array([[1, 2],
       [2, 3],
       [4, 5]])

In [44]:
a=np.array([[1,2,3],[4,5,6],[9,0,7]])
a

array([[1, 2, 3],
       [4, 5, 6],
       [9, 0, 7]])

In [47]:
a[2,2]

7

In [48]:
## Accessing rows 
a[0:,1]

array([2, 5, 0])

In [51]:
a[:,0::2]

array([[1, 3],
       [4, 6],
       [9, 7]])

In [53]:
a[:,1::]

array([[2, 3],
       [5, 6],
       [0, 7]])

In [54]:
a[1:,0::2]

array([[4, 6],
       [9, 7]])

In [57]:
a[2:,0::2]

array([[9, 7]])

In [60]:
k=np.linspace(0,4,10)
k

array([0.        , 0.44444444, 0.88888889, 1.33333333, 1.77777778,
       2.22222222, 2.66666667, 3.11111111, 3.55555556, 4.        ])

In [61]:
## maximum and minimum values

In [62]:
a.max()

4.0

In [66]:
x

array([[1, 2, 3],
       [2, 3, 4],
       [4, 5, 6]])

In [67]:
x.min()

1

In [68]:
x.sum()

30

In [69]:
x.mean()

3.3333333333333335

In [70]:
x.min(axis=1)

array([1, 2, 4])

In [71]:
x.max(axis=1)

array([3, 4, 6])

In [72]:
x.min(axis=0)

array([1, 2, 3])

In [73]:
x.max(axis=0)

array([4, 5, 6])

In [74]:
x

array([[1, 2, 3],
       [2, 3, 4],
       [4, 5, 6]])

In [75]:
x.sum(axis=1)

array([ 6,  9, 15])

In [76]:
## Sqareroot

In [77]:
np.sqrt(x)

array([[1.        , 1.41421356, 1.73205081],
       [1.41421356, 1.73205081, 2.        ],
       [2.        , 2.23606798, 2.44948974]])

In [78]:
np.std(x)

1.4907119849998598

## Horizontal and vertical stacking

In [81]:
l=np.array([[1,2,3],[5,6,7],[4,3,2]])
k=np.array([[9,8,7],[6,5,4],[8,6,5]])
np.vstack((l,k))

array([[1, 2, 3],
       [5, 6, 7],
       [4, 3, 2],
       [9, 8, 7],
       [6, 5, 4],
       [8, 6, 5]])

In [83]:
np.hstack((l,k))

array([[1, 2, 3, 9, 8, 7],
       [5, 6, 7, 6, 5, 4],
       [4, 3, 2, 8, 6, 5]])

In [85]:
np.ravel((l,k))  ## Gives output in single row

array([1, 2, 3, 5, 6, 7, 4, 3, 2, 9, 8, 7, 6, 5, 4, 8, 6, 5])

In [86]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [90]:
for i in np.arange(1,7):
    print(l)

[[1 2 3]
 [5 6 7]
 [4 3 2]]
[[1 2 3]
 [5 6 7]
 [4 3 2]]
[[1 2 3]
 [5 6 7]
 [4 3 2]]
[[1 2 3]
 [5 6 7]
 [4 3 2]]
[[1 2 3]
 [5 6 7]
 [4 3 2]]
[[1 2 3]
 [5 6 7]
 [4 3 2]]

In [91]:
np.sin(l)

array([[ 0.84147098,  0.90929743,  0.14112001],
       [-0.95892427, -0.2794155 ,  0.6569866 ],
       [-0.7568025 ,  0.14112001,  0.90929743]])

In [93]:
np.sin(l)

array([[ 0.84147098,  0.90929743,  0.14112001],
       [-0.95892427, -0.2794155 ,  0.6569866 ],
       [-0.7568025 ,  0.14112001,  0.90929743]])

In [94]:
np.cos(l)

array([[ 0.54030231, -0.41614684, -0.9899925 ],
       [ 0.28366219,  0.96017029,  0.75390225],
       [-0.65364362, -0.9899925 , -0.41614684]])

In [95]:
np.tan(l)

array([[ 1.55740772, -2.18503986, -0.14254654],
       [-3.38051501, -0.29100619,  0.87144798],
       [ 1.15782128, -0.14254654, -2.18503986]])

### PANDAS

In [97]:
import pandas as pd

In [98]:
dir(pd)

['Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_tslib',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [99]:
### Creating a series data type

In [100]:
q=pd.Series([1,2,3,4,5])
q

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [104]:
k=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
k

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [108]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : tuple of (str, str), default ('_x', '_y')
        Suffix to apply to overlapping column names in the left and right
        side, respectively. To raise an exception on overlapping columns use
        (False, False).
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

        .. versionadded:: 0.21.0

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------

    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

## DATA FRAMES

In [148]:
a=(1,2,3,4)
b=(4,5,6,7)
df=pd.DataFrame({'m':a,'n':b})
df

   m  n
0  1  4
1  2  5
2  3  6
3  4  7

In [146]:
## slincing
## changing index 
## changing column headers
## merging
## operation
## concatination
## monging

In [121]:
d_f=pd.DataFrame({'x':[2,3,4,5],'y':[3,5,7,0]},index=['a','b','c','d'],dtype=float)
d_f

     x    y
a  2.0  3.0
b  3.0  5.0
c  4.0  7.0
d  5.0  0.0

In [126]:
d=[[1,2,3,4],[3,555,66,77]]

In [131]:
d_f=pd.DataFrame(d,columns=["s","u","p","r"],index=["m","s"])

In [132]:
d_f

   s    u   p   r
m  1    2   3   4
s  3  555  66  77

In [133]:
d_f.shape

(2, 4)

In [134]:
d_f.ndim

2

In [135]:
d_f.size

8

In [137]:
d_f.isnull()

       s      u      p      r
m  False  False  False  False
s  False  False  False  False

In [141]:
d_f.head(1)

   s  u  p  r
m  1  2  3  4

In [142]:
d_f.tail(2)

   s    u   p   r
m  1    2   3   4
s  3  555  66  77

In [143]:
d_f.tail()

   s    u   p   r
m  1    2   3   4
s  3  555  66  77

## Merging and joining

In [149]:
d_f

   s    u   p   r
m  1    2   3   4
s  3  555  66  77

In [160]:
d2=[[1,2,3,4],[5,6,7,8]]
df2=pd.DataFrame(d2,columns=['s','u','p','r'],index=["mani","suu"])
df2

      s  u  p  r
mani  1  2  3  4
suu   5  6  7  8

In [166]:
m=pd.merge(d_f,df2)### merge :columns must be same
m

   s  u  p  r
0  1  2  3  4

In [165]:
k=df2.join(df)  ### columns must be different in join
k

      s  u  p  r   m   n
mani  1  2  3  4 NaN NaN
suu   5  6  7  8 NaN NaN

In [184]:
m1=[[1,2,34,4],[3,4,5,6],[6,7,8,9],[3,4,7,8]]
f1=pd.DataFrame(m1,columns=["a","b","c","d"],index=[1,2,3,4])
f1

   a  b   c  d
1  1  2  34  4
2  3  4   5  6
3  6  7   8  9
4  3  4   7  8

In [190]:
m2=[[1,2,34,4],[3,4,5,6],[3,4,6,7],[3,4,6,8]]
f2=pd.DataFrame(m2,columns=['a','b','c','d'],index=[11,22,33,44])
f2

    a  b   c  d
11  1  2  34  4
22  3  4   5  6
33  3  4   6  7
44  3  4   6  8

In [191]:
k=pd.merge(f1,f2)
k

   a  b   c  d
0  1  2  34  4
1  3  4   5  6

In [181]:
x=[[1,2,3,5],[4,5,8,6]]
f3=pd.DataFrame(x,columns=['aa','ss','dd','ff'],index=['xx','yy'])
f3

    aa  ss  dd  ff
xx   1   2   3   5
yy   4   5   8   6

In [195]:
f4=pd.DataFrame({'name':[45,6,7],'gender':[1,0,7]})
f4

   name  gender
0    45       1
1     6       0
2     7       7

In [196]:
join=f3.join(f4)

In [197]:
join

    aa  ss  dd  ff  name  gender
xx   1   2   3   5   NaN     NaN
yy   4   5   8   6   NaN     NaN

## Concat

In [198]:
c=pd.concat([f3,f4])
c

C:\Users\public\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     aa   dd   ff  gender  name   ss
xx  1.0  3.0  5.0     NaN   NaN  2.0
yy  4.0  8.0  6.0     NaN   NaN  5.0
0   NaN  NaN  NaN     1.0  45.0  NaN
1   NaN  NaN  NaN     0.0   6.0  NaN
2   NaN  NaN  NaN     7.0   7.0  NaN

In [199]:
c.isnull()

       aa     dd     ff  gender   name     ss
xx  False  False  False    True   True  False
yy  False  False  False    True   True  False
0    True   True   True   False  False   True
1    True   True   True   False  False   True
2    True   True   True   False  False   True

In [200]:
c.notnull()

       aa     dd     ff  gender   name     ss
xx   True   True   True   False  False   True
yy   True   True   True   False  False   True
0   False  False  False    True   True  False
1   False  False  False    True   True  False
2   False  False  False    True   True  False

In [201]:
c.columns

Index(['aa', 'dd', 'ff', 'gender', 'name', 'ss'], dtype='object')

In [202]:
c

     aa   dd   ff  gender  name   ss
xx  1.0  3.0  5.0     NaN   NaN  2.0
yy  4.0  8.0  6.0     NaN   NaN  5.0
0   NaN  NaN  NaN     1.0  45.0  NaN
1   NaN  NaN  NaN     0.0   6.0  NaN
2   NaN  NaN  NaN     7.0   7.0  NaN

In [210]:
### Changing index
f=pd.DataFrame({1:[1,2,3],2:[3,4,5],'i':['x','y','r']})
f.set_index('i')

   1  2
i
x  1  3
y  2  4
r  3  5

In [213]:
### Changing columns headres
c2=f.rename(columns={1:'a',2:'b'})

In [215]:
c2

   a  b  i
0  1  3  x
1  2  4  y
2  3  5  r

In [217]:
## Data munging
m=pd.read_csv("mani.csv")
m

   a   d   f
0  2  88   2
1  3  77   3
2  4  66   4
3  5  55   5
4  6  44  54