In [1]:
file="mstp.txt"
def name(file):
    with open (file,'w') as f:
        f.write("kvsw"+","+"kvsrit"+","+"kvsm")
name(file)

In [5]:
s="\n"+"manisha"+","+"chandu"+",""nikki"
with open (file,'a') as f:
    f.write(s)

In [8]:
with open (file,'r') as f:
    s=f.readlines()
    print(s[1])

manisha,chandu,nikki

In [14]:
file="smaple.txt"
with open (file,'a') as f:
    f.write("name"+","+"9908698573"+","+"manishareddy9491@gmail.com\n")
    f.write("manisha"+","+"8899776655"+","+"nikila675@gmail.com")

In [22]:
### convert csv to list
def csvtolist(file):
    l=[]
    with open (file,'r') as f:
        for line in f:
            l.append(line.split(","))
    print(l)
    print(l[1][1])
    print(l[0][2])
csvtolist(file)

[['name', '9908698573', 'manishareddy9491@gmail.com\n'], ['manisha', '8899776655', 'nikila675@gmail.com']]
8899776655
manishareddy9491@gmail.com

In [23]:
def csvtolist(file):
    l=[]
    with open (file,'r') as f:
        for line in f:
            l.append(line.split(","))
    return l 
csvtolist(file)

[['name', '9908698573', 'manishareddy9491@gmail.com\n'],
 ['manisha', '8899776655', 'nikila675@gmail.com']]

In [25]:
def csvtolist(file):
    l=[]
    with open (file,'r') as f:
        for line in f:
            l.append(line.split(","))
    return l 
csvtolist(file)
def listtocsv(file):
    d=csvtolist(file)
    s=""
    for i in d:
        s+=",".join(i)
    print(s)
listtocsv(file)

name,9908698573,manishareddy9491@gmail.com
manisha,8899776655,nikila675@gmail.com

In [57]:
import re
def phnovalidition(no):
    pattern='[9876][0-9]{9}$|[0][6-9][0-9]{9}$|^[+][9][1][6-9][0-9]{9}$'
    if re.match(pattern,str(no)):
        return True
    else:
        return False
def emailvalidition(n):
    pattern='^([0-9]|[a-z]|[A-Z])([0-9]|[a-z]|[A-Z]|[_]){6,14}([0-9]|[a-z]|[A-Z])@([a-z]|[A-Z]){1,10}[.][a-z]{2,4}$'
    if re.match(pattern,str(n)):
        return True
    else:
        return False
def searchcontact(name,file):
    s=csvtolist(file)
    for i in s:
        if i[0]==name:
            return 1
    return 0
searchcontact("nikila","smaple.txt")
def addcontact(name,no,email,file):
    if searchcontact(name,file)==0:
        if phnovalidition(no)==1:
            if emailvalidition(email)==1:
                with open (file,'a')as f:
                    f.write("\n"+name+","+no+","+email)
                    print("contact added successfully")
    else:
        print("contact already exists")
addcontact("nikila","9909874389","mallimanisa123@gmail.com","smaple.txt")

contact added successfully

### Functional programming

In [58]:
# c--procedural language
# java,python,php

In [62]:
## print first n natural numbers
n=int(input())
for i in range (1,n+1):
    print(i,end=" ")

5
1 2 3 4 5

In [64]:
##List comprehension 
#===>expression for list in item condition

In [65]:
n=int(input())
l=[i for i in range(1,n+1)]
l

6

[1, 2, 3, 4, 5, 6]

In [67]:
x="apssdc"
for i in x:
    print(i,end=" ")

a p s s d c

In [68]:
l=[i for i in x]
l

['a', 'p', 's', 's', 'd', 'c']

In [70]:
s="google.com"
a=s.upper()
a

'GOOGLE.COM'

In [73]:
f=[i.upper() for i in s]
f

['G', 'O', 'O', 'G', 'L', 'E', '.', 'C', 'O', 'M']

In [74]:
x="123acds12"
for i in x:
    if i.isdigit():
        print(i,end=" ")

1 2 3 1 2

In [75]:
d=[n for n in x if n.isalpha()]
d

['a', 'c', 'd', 's']

In [77]:
k=[m for m in x if m.isdigit()]
k

['1', '2', '3', '1', '2']

In [101]:
n=int(input())
l=[]
for i in range(1,n+1):
    k=(i**(1/2))
    l.append(k)
print(l)

6
[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178]

In [98]:
n=int(input())
k=[m**(1/2) for m in range(1,n+1) ]
k

5

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [106]:
k=int(input())
o=[math.sqrt(k) for i in range(1,k+1)]
o

4

[2.0, 2.0, 2.0, 2.0]

In [118]:
l=[]
for i in range(21,31):
    k=i*i
    l.append(k)
print(l)

[441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [115]:
k=[i*i for i in range(21,31)]
k

[441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [120]:
## cubes of a number
m=[i**3 for i in range(20,30)]
m

[8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389]

In [135]:
## function to find the factorial of a given number
def factorial(n):
    l=[]
    a=1
    for i in range(1,n+1):
        a=a*i
        l.append(a)
    print(l)
    
n=int(input())
factorial(n)

7
[1, 2, 6, 24, 120, 720, 5040]

In [142]:
ft=[factorial(i) for i in range(1,n+1)]

[1]
[1, 2]
[1, 2, 6]
[1, 2, 6, 24]
[1, 2, 6, 24, 120]
[1, 2, 6, 24, 120, 720]
[1, 2, 6, 24, 120, 720, 5040]

In [155]:
# Even and odd
def even(n):
    for i in range(11,21):
        if i%2==0:
            print(i)
        else:
            print(i)
even(n)

11
12
13
14
15
16
17
18
19
20

In [149]:
m=[i for i in range(11,21) if i%2==0]
m

[12, 14, 16, 18, 20]

In [150]:
m=[i for i in range(11,21) if i%2!=0]
m

[11, 13, 15, 17, 19]

In [157]:
h=["even" if i%2==0 else "odd" for i in range(11,21)]
h

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [173]:
w=[i for i in range(2000,2021) if i%4==0 and i%100!=0 or i%400==0]
w

[2000, 2004, 2008, 2012, 2016, 2020]

### Lambda

In [175]:
## Anonymous function
## Syntax -------->  lambda arguments:expression
d=lambda n:n**2
print(d(4))

16

In [177]:
k=lambda m:m**3
print(k(5))

125

In [179]:
l=[1,2,3,4,5]
k=[]
for j in range(len(l)):
    a=l[j]**2
    k.append(a)
print(k)

[1, 4, 9, 16, 25]

In [180]:
a=[l[i]**2 for i in range(len(l))]
a

[1, 4, 9, 16, 25]

### Iterators

In [184]:
# iter(),next()
l=[1,2,3,4,5,6]
a=iter(l)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4
5
6

## Generators

In [191]:
## yeild(),next()
def add(a,b):
    c=a+b
    yield c
    a+=1
    b+=1
    c=a+b
    yield c
k=add(2,4)
print(next(k))
print(next(k))
for i in add(2,3):
    print(i)

6
8
5
7

## Map

In [195]:
## syntax----> map(fun,iterable)
def square(n):
    return n**2
l=[1,2,3,4,5]
print(list(map(square,l)))

[1, 4, 9, 16, 25]

In [196]:
l=[1,2,3,4,5,6,7]
print(list(map(lambda x:x**2,l)))

[1, 4, 9, 16, 25, 36, 49]

In [197]:
t=(1,2,3,4)
t1=(2,3,4,6)
print(list(map(lambda a,b:a+b,t,t1 )))

[3, 5, 7, 10]

## Filter

In [200]:
##syntax----> filter(fun,iterable)
l=[1,2,3,4,5,6,7,8,9]
a=list(filter(lambda x:x%2==0,l))
a

[2, 4, 6, 8]

In [209]:
k=[1,2,3,'a','b']
l=[]
def num(k): 
    for i in k:
        if str(i).isdigit():
            l.append(i)
            print(i,end=" ")
num(k)

1 2 3

In [216]:
def digit(k):
    if str(k).isdigit():
            return True
    return False
a=list(filter(digit,l))
a

[1, 2, 3]

In [232]:
l=list(range(11))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [234]:
# l=[1,2,3,4,5,6,7,8,9,10]
#l=list(range(11))
def prime(n):
    fact=0
    for i in range(1,n+1):
        if n%i==0:
            fact+=1
    if fact==2:
        return 1
    return 0
print(list(filter(prime,l)))

[2, 3, 5, 7]