In [1]:
import pandas as pd
p=pd.Period(2007,freq='A-MAY')
p

Period('2007', 'A-MAY')

In [2]:
p+2

Period('2009', 'A-MAY')

In [3]:
p-2

Period('2005', 'A-MAY')

In [4]:
p

Period('2007', 'A-MAY')

In [5]:
p=pd.Period(2007,freq='A-MAY')+2
p

Period('2009', 'A-MAY')

In [6]:
p=pd.Period(2007,freq='A-MAY')-2
p

Period('2005', 'A-MAY')

In [7]:
pd.Period(2011,freq='A-MAY')-p

In [8]:
r=pd.period_range('2001-01-01','2000-06-30',freq='D')

In [9]:
r

PeriodIndex([], dtype='period[D]', freq='D')

In [10]:
r=pd.period_range('2000-01-01','2000-06-30',freq='D')

In [11]:
r

PeriodIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
             '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
             '2000-01-09', '2000-01-10',
             ...
             '2000-06-21', '2000-06-22', '2000-06-23', '2000-06-24',
             '2000-06-25', '2000-06-26', '2000-06-27', '2000-06-28',
             '2000-06-29', '2000-06-30'],
            dtype='period[D]', length=182, freq='D')

In [12]:
index=pd.date_range('1/1/2000',periods=4,freq="T")
series=pd.Series([0.0,None,2.0,3.0],index=index)
df=pd.DataFrame({'s':series})
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [13]:
df.asfreq(freq='30s')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  NaN
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  NaN
2000-01-01 00:03:00  3.0

In [14]:
df.asfreq(freq='30s',fill_value=9.0)

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  9.0
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  9.0
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  9.0
2000-01-01 00:03:00  3.0

In [15]:
p

Period('2005', 'A-MAY')

In [16]:
p.asfreq('D',how="start")

Period('2004-06-01', 'D')

In [17]:
p.asfreq('D',how='end')

Period('2005-05-31', 'D')

In [18]:
p.asfreq("D",how="start")

Period('2004-06-01', 'D')

In [19]:
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [20]:
df.asfreq('T',how='start')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [21]:
df.asfreq('T',how='end')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [22]:
rng=pd.date_range('2006','2009',freq='A-DEC')

In [23]:
rng

DatetimeIndex(['2006-12-31', '2007-12-31', '2008-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [25]:
import numpy as np
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2006-12-31    0.622194
2007-12-31    0.129509
2008-12-31    3.227952
Freq: A-DEC, dtype: float64

In [26]:
print(ts.asfreq('M',how='start'))

2006-12-31    0.622194
2007-01-31         NaN
2007-02-28         NaN
2007-03-31         NaN
2007-04-30         NaN
2007-05-31         NaN
2007-06-30         NaN
2007-07-31         NaN
2007-08-31         NaN
2007-09-30         NaN
2007-10-31         NaN
2007-11-30         NaN
2007-12-31    0.129509
2008-01-31         NaN
2008-02-29         NaN
2008-03-31         NaN
2008-04-30         NaN
2008-05-31         NaN
2008-06-30         NaN
2008-07-31         NaN
2008-08-31         NaN
2008-09-30         NaN
2008-10-31         NaN
2008-11-30         NaN
2008-12-31    3.227952
Freq: M, dtype: float64

In [27]:
print(ts.asfreq('M',how='end'))

2006-12-31    0.622194
2007-01-31         NaN
2007-02-28         NaN
2007-03-31         NaN
2007-04-30         NaN
2007-05-31         NaN
2007-06-30         NaN
2007-07-31         NaN
2007-08-31         NaN
2007-09-30         NaN
2007-10-31         NaN
2007-11-30         NaN
2007-12-31    0.129509
2008-01-31         NaN
2008-02-29         NaN
2008-03-31         NaN
2008-04-30         NaN
2008-05-31         NaN
2008-06-30         NaN
2008-07-31         NaN
2008-08-31         NaN
2008-09-30         NaN
2008-10-31         NaN
2008-11-30         NaN
2008-12-31    3.227952
Freq: M, dtype: float64

In [28]:
p=pd.Period('2012Q4',freq='M')

In [29]:
p

Period('2012-10', 'M')

In [31]:
rng=pd.period_range('2011Q3','2012Q4',freq='Q-JAN')

In [32]:
rng

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [34]:
ts=pd.Series(np.arange(len(rng)),index=rng)