In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("ex1.csv")

In [5]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
import sys
df.to_csv(sys.stdout)

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [7]:
df.to_csv(sys.stdout,sep='|')

|a|b|c|d|message
0|1|2|3|4|hello
1|5|6|7|8|world
2|9|10|11|12|foo

In [14]:
## Date
pd.date_range("1/1/2020",periods=2)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

In [18]:
dates=pd.date_range("1/1/2020",periods=5)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

In [19]:
import numpy as np
df1=pd.DataFrame(np.random.rand(5,4))
df1

          0         1         2         3
0  0.904831  0.355802  0.757048  0.183821
1  0.343658  0.211843  0.890794  0.250306
2  0.133894  0.505232  0.103480  0.884782
3  0.087605  0.599181  0.572236  0.139847
4  0.125179  0.394264  0.332589  0.456963

In [27]:
df1.index=dates

In [28]:
df1

                   0         1         2         3
2020-01-01  0.904831  0.355802  0.757048  0.183821
2020-01-02  0.343658  0.211843  0.890794  0.250306
2020-01-03  0.133894  0.505232  0.103480  0.884782
2020-01-04  0.087605  0.599181  0.572236  0.139847
2020-01-05  0.125179  0.394264  0.332589  0.456963

In [29]:
sample=df1.index=dates

In [30]:
sample=df1

In [31]:
sample

                   0         1         2         3
2020-01-01  0.904831  0.355802  0.757048  0.183821
2020-01-02  0.343658  0.211843  0.890794  0.250306
2020-01-03  0.133894  0.505232  0.103480  0.884782
2020-01-04  0.087605  0.599181  0.572236  0.139847
2020-01-05  0.125179  0.394264  0.332589  0.456963

In [33]:
samplecheck=sample.to_csv("samplecheck.csv")